@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;700&family=Montserrat:wght@300;400;700&display=swap");

/* 
font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
 */
*{
    border: 1px solid blue;
}
body {
  color: white;
  background-color: rgb(42, 42, 42);

  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}
.button {
  

  width: 350px;
  height: 100px;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 60px;

  border: 1px solid rgb(42, 42, 42);
  border-radius: 25px;
}
.unclicked{
    background-color: lightgrey;
    box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25) ;
}
.clicked{
background-color: rgb(195, 195, 195);
color: rgb(91, 91, 91);
box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.45) inset;
}
input {
  color: black;
  font-size: 60px;
  font-weight: 700;

  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25) ;
}
h1 {
  font-size: 60px;
}
h2 {
  font-size: 50px;
  float: left;
  display: none;

}
h3 {
  font-size: 70px;
}
p {
  
  margin: 7px 0;
}
.container {
  margin: 20px auto;
  padding: 0 50px;
}
.title {
  margin: 10px auto;
}
.input-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 40px;
  margin-top: 30px;

  background-color: rgb(172, 172, 172);
  border: 2px solid rgb(69, 69, 69);
  border-radius: 25px;

  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.75);
}

.calculations{
    display: flex;
    flex-direction: column;

    align-items: center;
}
.instruction{
    border-top: 1px solid rgb(172, 172, 172);
}
.instruction-text{
    margin: 35px auto;
}
.instruction-list ul{
    list-style-type: square;
}
.instruction-list li{
    margin-bottom: 15px;
}